interactions:
- request:
    body: '{"email": "sdk.tester@expanse.co", "firstName": "SDK", "lastName": "Tester",
      "phone": "555-555-5555", "role": "QA"}'
    headers:
      Authorization:
      - bearer wwwwwwwwwwwwwwwwwwwwwwwwwwwww
      Content-Type:
      - application/json
    method: POST
    uri: https://expander.staging.qadium.com/api/v2/annotation/point-of-contact
  response:
    body:
      string: '{"id":"4a4c481f-9314-48c7-85a0-d0f876b231d5","created":"2021-11-22T18:28:58.135624Z","modified":"2021-11-22T18:28:58.136124Z","firstName":"SDK","lastName":"Tester","phone":"555-555-5555","email":"sdk.tester@expanse.co","role":"QA"}'
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Authorization:
      - bearer wwwwwwwwwwwwwwwwwwwwwwwwwwwww
      Content-Type:
      - application/json
    method: DELETE
    uri: https://expander.staging.qadium.com/api/v2/annotation/point-of-contact/4a4c481f-9314-48c7-85a0-d0f876b231d5
  response:
    body:
      string: ''
    headers:
      Allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
    status:
      code: 204
      message: No Content
version: 1
