interactions:
- request:
    body: '{"name": "sdk_test"}'
    headers:
      Authorization:
      - JWT wwwwwwwwwwwwwwwwwwwwwwwwwwwww
      Content-Type:
      - application/json
    method: POST
    uri: https://api.expander.expanse.co/api/v2/annotation/tag
  response:
    body:
      string: '{"id":"1f2ebed6-662d-4f5c-b68a-d3f219ccbf05","created":"2020-03-09T19:16:56.262173Z","modified":"2020-03-09T19:16:56.262698Z","name":"sdk_test"}'
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Authorization:
      - JWT wwwwwwwwwwwwwwwwwwwwwwwwwwwww
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.expander.expanse.co/api/v2/annotation/tag/1f2ebed6-662d-4f5c-b68a-d3f219ccbf05
  response:
    body:
      string: ''
    headers:
      Allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
    status:
      code: 204
      message: No Content
version: 1
