interactions:
- request:
    body: '{"startAddress": "2.117.113.130", "endAddress": "2.117.113.135", "parentId":
      "01dd9d37-b0fe-3014-a17a-7db042383a00", "annotations": {}}'
    headers:
      Authorization:
      - bearer wwwwwwwwwwwwwwwwwwwwwwwwwwwww
      Content-Type:
      - application/json
    method: POST
    uri: https://api.expander.expanse.co/api/v2/ip-range
  response:
    body:
      string: '{"id":"619bec86-f8f1-41ad-b371-9945e271ef80","created":"2021-11-22","modified":"2021-11-22","ipVersion":"4","startAddress":"2.117.113.130","endAddress":"2.117.113.135","businessUnits":[{"id":"a1f0f39b-f358-3c8c-947b-926887871b88","name":"VanDelay
        Import-Export","tenantId":"04b5140e-bbe2-3e9c-9318-a39a3b547ed5"}],"rangeSize":6,"responsiveIpCount":0,"rangeIntroduced":"2021-11-22","rangeType":"custom","annotations":null,"severityCounts":null,"attributionReasons":null,"relatedRegistrationInformation":null,"locationInformation":null,"parentId":"01dd9d37-b0fe-3014-a17a-7db042383a00","customChildRanges":[]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 201
      message: ''
- request:
    body: '{"ipRangeIds": ["619bec86-f8f1-41ad-b371-9945e271ef80"], "tags": ["sdk_test_cc"]}'
    headers:
      Authorization:
      - bearer wwwwwwwwwwwwwwwwwwwwwwwwwwwww
      Content-Type:
      - application/json
    method: POST
    uri: https://api.expander.expanse.co/api/v2/ip-range/tag
  response:
    body:
      string: ''
    headers:
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
      Authorization:
      - bearer wwwwwwwwwwwwwwwwwwwwwwwwwwwww
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.expander.expanse.co/api/v2/ip-range/619bec86-f8f1-41ad-b371-9945e271ef80
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: ''
version: 1
