interactions:
- request:
    body: '{"startAddress": "2.117.113.130", "endAddress": "2.117.113.135", "parentId":
      "01dd9d37-b0fe-3014-a17a-7db042383a00", "annotations": {}}'
    headers:
      Authorization:
      - bearer wwwwwwwwwwwwwwwwwwwwwwwwwwwww
      Content-Type:
      - application/json
    method: POST
    uri: https://expander.staging.qadium.com/api/v2/ip-range
  response:
    body:
      string: '{"id":"663e1116-b7e3-471c-ab6f-a2020336b2a5","created":"2021-11-22","modified":"2021-11-22","ipVersion":"4","startAddress":"2.117.113.130","endAddress":"2.117.113.135","businessUnits":[{"id":"a1f0f39b-f358-3c8c-947b-926887871b88","name":"VanDelay
        Import-Export","tenantId":"04b5140e-bbe2-3e9c-9318-a39a3b547ed5"}],"rangeSize":6,"responsiveIpCount":0,"rangeIntroduced":"2021-11-22","rangeType":"custom","annotations":null,"severityCounts":null,"attributionReasons":null,"relatedRegistrationInformation":null,"locationInformation":null,"parentId":"01dd9d37-b0fe-3014-a17a-7db042383a00","customChildRanges":[]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 201
      message: ''
- request:
    body: null
    headers:
      Authorization:
      - bearer wwwwwwwwwwwwwwwwwwwwwwwwwwwww
      Content-Type:
      - application/json
    method: DELETE
    uri: https://expander.staging.qadium.com/api/v2/ip-range/663e1116-b7e3-471c-ab6f-a2020336b2a5
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: ''
- request:
    body: null
    headers:
      Authorization:
      - bearer wwwwwwwwwwwwwwwwwwwwwwwwwwwww
      Content-Type:
      - application/json
    method: DELETE
    uri: https://expander.staging.qadium.com/api/v2/ip-range/663e1116-b7e3-471c-ab6f-a2020336b2a5
  response:
    body:
      string: ''
    headers:
    status:
      code: 404
      message: ''
version: 1
