interactions:
- request:
    body: '{"name": "sdk_test_client_credentials_asset_annotations"}'
    headers:
      Authorization:
      - bearer wwwwwwwwwwwwwwwwwwwwwwwwwwwww
      Content-Type:
      - application/json
    method: POST
    uri: https://api.expander.expanse.co/api/v2/annotation/tag
  response:
    body:
      string: '{"id":"1438a3a4-2454-34c6-8a3e-262d6b6e9efa","name":"sdk_test_client_credentials_asset_annotations","created":"2021-11-22T21:41:02.472769+00:00","modified":"2021-11-22T21:41:02.472769+00:00"}'
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
version: 1
