interactions:
- request:
    body: '{"startAddress": "2.117.113.128", "endAddress": "2.117.113.135", "parentId":
      "09ce0303-94e5-4037-8226-e708b6e4874f", "annotations": {}}'
    headers:
      Authorization:
      - JWT wwwwwwwwwwwwwwwwwwwwwwwwwwwww
      Content-Type:
      - application/json
    method: POST
    uri: https://api.expander.expanse.co/api/v2/ip-range
  response:
    body:
      string: '{"id":"40b9f1b3-4220-4946-9e3d-d3bd3534af81","created":"2020-07-23","modified":"2020-07-23","ipVersion":"4","startAddress":"2.117.113.128","endAddress":"2.117.113.135","businessUnits":[{"id":"a1f0f39b-f358-3c8c-947b-926887871b88","name":"VanDelay
        Import-Export"}],"rangeSize":8,"responsiveIpCount":0,"rangeIntroduced":"2020-07-23","rangeType":"custom","parentId":"09ce0303-94e5-4037-8226-e708b6e4874f"}'
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{"ipRangeIds": ["40b9f1b3-4220-4946-9e3d-d3bd3534af81"], "tags": ["test_tag"]}'
    headers:
      Authorization:
      - JWT wwwwwwwwwwwwwwwwwwwwwwwwwwwww
      Content-Type:
      - application/json
    method: POST
    uri: https://api.expander.expanse.co/api/v2/ip-range/tag
  response:
    body:
      string: ''
    headers:
      Allow:
      - POST, OPTIONS
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - JWT wwwwwwwwwwwwwwwwwwwwwwwwwwwww
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.expander.expanse.co/api/v2/ip-range/40b9f1b3-4220-4946-9e3d-d3bd3534af81
  response:
    body:
      string: ''
    headers:
      Allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
    status:
      code: 204
      message: No Content
version: 1
