interactions:
- request:
    body: '{"name": "sdk_test4", "description": "This is a test tag created by the
      SDK", "disabled": true}'
    headers:
      Authorization:
      - JWT wwwwwwwwwwwwwwwwwwwwwwwwwwwww
      Content-Type:
      - application/json
    method: POST
    uri: https://api.expander.expanse.co/api/v3/annotations/tags
  response:
    body:
      string: '{"id":"6f7ba05e-971b-3869-bea0-2634ae2e6ef6","tenantId":"04b5140e-bbe2-3e9c-9318-a39a3b547ed5","name":"sdk_test4","description":"This
        is a test tag created by the SDK","disabled":true,"created":"2020-07-07T14:43:19.771496Z","modified":"2020-07-07T14:43:19.771496Z"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Location:
      - https://api.expander.expanse.co/api/v3/annotations/tags/6f7ba05e-971b-3869-bea0-2634ae2e6ef6
    status:
      code: 201
      message: ''
version: 1
