interactions:
- request:
    body: null
    headers:
      Authorization:
      - wwwwwwwwwwwwwwwwwwwwwwwwwwwww
      x-xdr-auth-id:
      - 1
      x-xdr-nonce:
      - yyyyyyyyyyyyyyyyyyyyyyyyyyy
      x-xdr-timestamp:
      - '1000000000000'
    method: POST
    uri: https://api-ben-expander.crtx-qa2-uat.us.paloaltonetworks.com/api_keys/validate/
  response:
    body:
      string: '{"reply": {"err_code": 401, "err_msg": "Public API request unauthorized",
        "err_extra": null}}'
    headers:
      Content-Type:
      - application/json
      X-Public-Api-Body:
      - '1'
    status:
      code: 401
      message: Unauthorized
version: 1
